*.log
*.xml
*.sqlite
*.db
*.db-journal
*.db-shm
*.db-wal
OZW_Log.txt
deps
tts
.uuid
.ios.conf
.DS_Store
._.DS_Store
bravia.conf
plex.conf
sensors
secrets.yaml
deconz/config.ini
deconz/session.default
deconz/zcldb.txt
.env
